<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.mapper.ContentPatchLogMapper">
    <resultMap type="com.huang.entity.ContentPatchLogEntity" id="contentPatchLogMap">
        <result property="id" column="id"/>
        <result property="sourceId" column="source_id"/>
        <result property="publishTime" column="publish_time"/>
        <result property="originalContent" column="original_content"/>
        <result property="version" column="version"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
</mapper>