<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.mapper.MessageMapper">
    <resultMap type="com.huang.entity.MessageEntity" id="messageMap">
        <result property="id" column="id"/>
        <result property="weather" column="weather"/>
        <result property="mood" column="mood"/>
        <result property="content" column="content"/>
        <result property="likes" column="likes"/>
        <result property="deleted" column="deleted"/>
        <result property="requestIp" column="request_ip"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
</mapper>