<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.mapper.SysLogMapper">
    <resultMap type="com.huang.entity.SysLogEntity" id="sysLogMap">
        <result property="id" column="id"/>
        <result property="description" column="description"/>
        <result property="logType" column="log_type"/>
        <result property="method" column="method"/>
        <result property="params" column="params"/>
        <result property="requestIp" column="request_ip"/>
        <result property="time" column="time"/>
        <result property="username" column="username"/>
        <result property="address" column="address"/>
        <result property="browser" column="browser"/>
        <result property="exceptionDetail" column="exception_detail"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>